<main>
  <div class="container">
  <div class="row">

    <h4>注文履歴詳細</h4>

    <thead>
        <th>購入者</th>
        <th>注文日</th>
        <th>配送先</th>
        <th>支払方法</th>
        <th>注文ステータス</th>
      </tr>
    </thead>

     <tbody>
      <td><%= @order.name %></td>
      <td><%= @order.created.at %></td>
      <td><%= @order.address %></td>
      <td><%= @order.payment_method %></td>
      <td><%= f.select :amount, [['入金待ち',1], ['入金確認',2], ['製作中',3],['発送準備中',4],['発送済み',5]] %></td>
      <td><%= f.submit :"更新",class: "btn btn-sm btn-success" %></td>
     </tbody>

     <table>
      <tr>
      <thead>
       <th>商品名</th>
       <th>単価（税込）</th>
       <th>数量</th>
       <th>小計</th>
       <th>制作ステータス</th>
       <th class="col-span-1"></th>
      </thead>
      </tr>

     <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr>
       <td><%= cart_item.name%></td>
        <td><%= cart_item.item.with_tax_price%></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.subtotal %></td>
        <td><%= f.select :amount, [['着手不可',1], ['製作待ち',2], ['製作中',3],['製作完了',4]] %></td>
        <td><%= f.submit :"更新",class: "btn btn-sm btn-success" %></td>
      </tr>
     </table>
      <h5>商品合計</h5>
       <tr>
       <td><%= @total_price +=  cart_item.subtotal %>円</td>
      <h6>送料</h6>
       <%= @order.shipping_cost %>
       <tr></tr>
       </tr>
  </div>
  </div>
</main>
