<main>
 <p id="notice"></p>
  <div class="container">
   <div class="row">
   <thead>
     <h6>ジャンル一覧・追加</h6>
   </thead>
   </div>

   <div class="row">
   <tbody>
    <tr>
    <td><%= form_with model: [:admin, @genre], local: true do |f| %></td>
    <td class="col-md-2"><%= f.label :ジャンル名 %></td>
    <td class="col-md-5"><%= f.text_field:name %></td>
    <td class="col-md-5"><%= f.submit "新規登録",class: "btn btn-sm btn-success" %></td>
    <% end %>
    </tr>
   </div>

    <tbody>
    <table>
     <td class="col-md-offset-4">ジャンル</td>
     <tr>
     <% @genres.each do |genre| %>
     <td class="col-md-5"><%= genre.name %></td>
     <td class="col-md-7"><%= link_to"編集する",edit_admin_genre_path(genre),class:"btn btn-sm btn-success" %></td>
     </tr>
    </table>
     <% end %>
     </tbody>
   </div>
  </div>
</main>